# fly.toml app configuration file
# See https://fly.io/docs/reference/configuration/

app = "no-gap-gas-v2"
primary_region = "ams"

[build]

[env]
  # Add your environment variables here or use fly secrets set

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = false
  min_machines_running = 1

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
